 	body {
      font-family: 'Montserrat', sans-serif;
      overflow-x:hidden; 

    }
    header  {
      margin-left: 4%;
    }
    #navbarCollapse{
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border: 0px solid #000000;
      margin-top:-10%;
    }
  	.grid-fluid {
  		display:grid;
  		grid-template-columns:repeat(auto-fit,minmax(110px,1fr));
  		text-align: center;
  	}
    .size {
      margin-left: 6%;
    }
    #grid-nav {
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(170px,0.3fr));
      text-align: center;
    }
    #numeropagina {
      margin-top: 1.2%;
      height:20px;
    }
    .active {
      font-weight: bold;
      text-decoration: underline;
    }
    nav{
  
      height:80px;
      color:white;
    }
    li {
      font-size: 14px;
      list-style: none;
      color:white;
    }
    h5{
      color:white;
      font-weight: bold;
    }
    figure {
      cursor:pointer;
      margin-right: 20px;
      -webkit-box-shadow: 6px 3px 12px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: 6px 3px 12px -5px rgba(0,0,0,0.75);
      box-shadow: 6px 3px 12px -5px rgba(0,0,0,0.75);
    }
    figcaption {
      font-size: 14px;
      text-transform: capitalize;
    }
    img {
      cursor: default;
    }
    .nav-img {
      width:20%;
    }
    .menu {
      color:white;
    } 
    #contenedor {
      height:300px;
    }
    footer {
        position: flex;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        padding-bottom: 3%; 
    }   
 
  @media (max-width: 1025px) {
        body {
          overflow-x:hidden; 
        }
        .menu {
          margin-left: 20px;
        }
        li {
          font-size: 18px;
        }
        span {
          font-size: 20px;
        }
        footer {        
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          color: white;
          text-align: center;
        }
        #principal {
          margin-bottom: 800px;
        }
        #data-pokemon {
          margin-top:4%;
        }
  }
    #principal {
      height: 300px;
    }
    footer {
      padding-bottom:4%;
      position: flex;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: red;
      color: white;
      text-align: center;
    }   

